# Python Virtual Environments & Cache
.venv/
env/
__pycache__/
*.pyc

# IDE / Editor Files
.vscode/
.idea/

# CARLA / Unreal Engine Build Artefacts
*.log
*_out/
Saved/
Intermediate/
DerivedDataCache/

# Local Configurations & Secrets
config/secrets.json